# UltraEdit backup file
*.bak
*.o

#sourceinght files
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults

*.f
*.d
*.i
*.s
*.S
*.map
*.line
*.list

#lib
*.fileno
*.so
*.so.*

#zip
*.zip
*.rar
*.tar.gz
*.tar.bz2

#dir
app/cduk/*
app/partool/*
app/rsha/*
app/rshc/*
app/rshd/*
app/uproxy/*
lib/bus/*
lib/mnl/*
lib/rsh/*
test/*
!test/pipe/
